@keyframes infoExpand {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.headingVisible::after {
    animation: infoExpand 1s;
}

.headingNotVisible::after {
    animation-play-state: paused !important;
    width: 0% !important;
}

@keyframes infoFadeIn {
    0% {
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.infoVisible {
    animation: infoFadeIn 1s;
    opacity: 1;
}

.infoNotVisible {
    animation-play-state: paused !important;
    opacity: 0;
    transform: translateX(-15px);
}