@keyframes expand {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.headingVisible::after {
    animation: expand 1s;
}

.headingNotVisible::after {
    animation-play-state: paused !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.infoVisible {
    animation: fadeIn 1s;
    opacity: 1;
}

.infoNotVisible {
    animation-play-state: paused !important;
    opacity: 0;
}