/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');

body {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	height: 100dvh;
}

.body-wrapper div {
	border: 5px solid red;
	padding: 10px;
}

.header {
	font-family: "VT323", monospace;
	font-size: 3rem;
}

.content {
	font-family: "Reddit Mono", monospace;
	flex: auto;
}