@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono:700|Heebo:400');

* { 
	margin: 0; 
	/* outline: 1px dotted magenta; */
}

:root {
	--text: #e4e7fe;
	--background: #333756;
	--primary: #7c8ffa;
	--secondary: #9e06a1;
	--accent: #f71dae;
	--pattern: #4B5078;
}

@keyframes pan {
	from { background-position: 0% 0%;}
	to { background-position: 200px -100px;}
}

body {
	background-color: var(--background);
	background-image: url(raccoon_pattern.svg);
	background-size: 100px;
	animation: pan 20s infinite linear;
	color: var(--text);
	font-family: 'Heebo';
	font-weight: 400;

	/* padding: 20px 0px; */
	height: 100dvh;
	box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
  font-family: 'Roboto Mono';
  font-weight: 700;
}

.container {
	height: 100dvh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	padding: 20px 10%;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	min-height: fit-content;
	box-sizing: border-box;
}

.header img {
	width: 250px;
	border-radius: 100%;
	border: 3px solid var(--pattern);
}

.headerText {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.button {
	background-color: var(--background);
	/* border: 1px solid red; */
	color: var(--primary);
	border: 3px solid var(--primary);
	text-decoration: none;	
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-size: 1.2em;
	transform: translate(0, 0);

	transition-property: transform, background-color, color;
	transition-duration: 0.3s;
}

.button:hover {
	background-color: var(--primary);
	color: var(--background);
	transform: translate(0, -3px);
}

.button i {
	vertical-align: -10%;
	font-size: 24px;
	padding-right: 5px;
}

@media screen and (max-width: 800px) {
	.header {
		flex-direction: column;
	}

	.headerText {
		text-align: center;
	}
}

#trailer {
	width: 200px;
	height: 200px;
	/* background-color: white; */
	border-radius: 100%;

	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;

	pointer-events: none;
	opacity: 0;
	transition-property: opacity, scale;
	transition-duration: 500ms;
	transition-timing-function: ease;

	backdrop-filter: invert() hue-rotate(180deg);
	/* filter: blur(50px); */
}

body:hover > #trailer {
	opacity: 1;
}

#trailer.hovered {
	scale: 0;
}