.skills {
    display: block;
    padding: 20px 50px;
    background-color: #DFDFDF;
}

.skills h1 {
    font-size: 2em;
}

.skillExperience {
    font-weight: bold;
}

.skillList ul {
    padding: 0;
    list-style-type: none;
}

.skills h1::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 2px;
    background-color: black;
}

@media screen and (min-width: 900px) {
    .skills {
        padding: 20px 250px;
    }
}