.headpanel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh + 1px);
    overflow: hidden;
}

@keyframes visible {
    0% {
        opacity: 0%;
    }
    
    100% {
        opacity: 100%;
    }
}

.video-container {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

video {
    position: relative;
    display: block;
    overflow: hidden; 
    min-width: 100vw;
    min-height: 100vh;
}

.headpanel-container {
    position: absolute;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}