.footer {
    background-color: #404040;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-items: middle;
    align-items: middle;
}

.footer p {
    flex: auto;
    text-align: center;
}