@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=VT323&display=swap');

body > * {
	background-color: hsl(286, 12%, 21%);
	border-color: pink;
	color: pink;
	font-size: 0.8em;
	text-align: justify;
	font-family: 'Roboto Mono', monospace;

}

* {
	/* outline: 1px white dotted; */
}