.headpanel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FFF, #000);
}

.headpanel-container {
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;

    border: 10px rgba(255,255,255,0.25) solid;
}