.content {
	padding: 60px 0px;
	max-width: 500px;
	margin: auto;
	/* outline: green 1px solid; */
}

.content > *:not(:last-child) {
	margin-bottom: 20px;
}

.p {
	text-indent: 16px;
	text-align: justify;
}

.content a {
	text-decoration: underline;
	color: var(--ck-colors-primary);
}

.content button {
	display: flex;
	margin: auto;
}

@media screen and (max-width: 700px) {
	.content {
		padding: 60px 20px;
	}
}