/* Navbar Styling */
.navbarWrapper {
	backdrop-filter: blur(5px);
	display: block;
	padding: 0px 10px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw);
	color: var(--1);
}

.navbarWrapper div {
	height: auto;
}

/* NavbarTitle Styling */
.titleContainer {
	display: flex;
	width: fit-content;
	align-items: center;
	height: fit-content;
	margin-right: 15px;
	transition: all 0.25s ease-in-out;
}

.titleText {
	/* margin-left: 10px; */
	/* font-size: 24px; */
	font-weight: bold;
}

/* NavbarLinks Styling */
.linksContainer {
	display: block;
}

/* NavbarLink Styling */
.linkContainer {
	display: block;
	height: 100%;
	padding: 5px 10px;
	margin: 0px 5px;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	transition: all 0.25s ease-in-out;
}

/* Creates an underline underneath an element that expands upon hover. */
.underline::before {
    position: absolute;
    content: '';
    height: 3px;
    width: calc(100%);
    background-color: var(--3);
	top: 0;
    left: 0;
    text-align: center;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out;
}

.underline:hover::before {
    transform: scaleX(1);
}