/* Navbar Styling */
.navbarWrapper {
	background-color: lightblue;
	display: block;
	padding: 5px 10px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}


/* NavbarTitle Styling */
.titleContainer {
	display: flex;
	width: fit-content;
	align-items: center;
	height: fit-content;
	margin-right: 30px;

	transition: all 0.25s ease-in-out;
}

/* NavbarBreaker Styling */
.breaker {
	display: block;
	height: 50%;
	width: 1px;
	background-color: rgb(70, 146, 172);
}

.titleContainer .titleLogo {
	animation-name: spin;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.titleContainer:hover .titleLogo {

	animation-play-state: paused;
}

.titleText {
	margin-left: 10px;
	font-size: 24px;
	font-weight: bold;
}


/* NavbarLinks Styling */
.linksContainer {
	padding: 0px 10px;
}

/* NavbarLink Styling */
.linkContainer {
	display: block;
	height: 100%;
	padding: 10px 20px;
	margin: 0px 5px;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	transition: all 0.25s ease-in-out;
}

/* Creates an underline underneath an element that expands upon hover. */
.linkContainer::before {
    position: absolute;
    content: '';
    height: 3px;
    width: calc(100%);
    background-color: rgb(0, 111, 139);
	bottom: 0;
    left: 0;
    text-align: center;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out;
}

.linkContainer:hover::before {
    transform: scaleX(1);
}

.linkContainer:hover {
	background-color: rgb(144, 194, 211);
	box-shadow: inset 0px 0px 5px 0px;
}