.itemWrapper {
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.itemImage {
	flex: 30%;
	position: relative;
	height: 200px;
	margin-bottom: 10px;
}

.itemText {
	margin-left: 20px;
	flex: 70%;
	text-align: justify;
}

.itemImage img {
	border-radius: 5px;
	z-index: 0;
}

.itemText h3 {
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 2px var(--ck-colors-tertiary);
}

.itemText ul {
	margin-left: 15px;
}

@media screen and (max-width: 700px) {
	.itemWrapper {
		flex-wrap: wrap;
	}

	.itemImage, .itemText {
		flex: 100%;
	}

	.itemText {
		margin-left: 0px;
	}
}